
.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: black;
    stroke-width: 3px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: blue;
    stroke-width: 20px;
}

header, main, footer {
    padding-left: 150px;
}

#nav-mobile {
    padding-left: 30px;
}
