
.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: black;
    stroke-width: 3px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: blue;
    stroke-width: 20px;
}

header, main, footer {
    padding-left: 150px;
}

#nav-mobile {
    padding-left: 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background: #fff;
}

.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}