{% extends "base.html" %}
{% load static %} 
{% block li_classe %}
    {% for classe in classes %}
    <li>
        <label>
            <input name="group1" type="radio" class="classe_id" value="{{classe.id}}"/>
            <span class="black-text">{{classe.name}}</span>
        </label>
    </li>
    {% endfor %}
{% endblock li_classe %}


{% block content %}
{% endblock content %}
{%block footer %}
<script>
    $(document).ready(function(){
        $(".classe_id")[0].checked = true;
    });
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
{% endblock footer %}
