{% extends "base.html" %} {% load static %} {% block li_classe %} {% for classe in classes %}
<li style="padding-left:15px">
    <label>
        <input onclick="checkbox_changed({{classe.id}})" type="checkbox" id="{{classe.id}}" class="classe_id" value="{{classe.id}}"
        />
        <span class="black-text">{{classe.name}}</span>
        <label>
</li>
{% endfor %} {% endblock li_classe %} {% block content %}
<div class="col s12">
        <h6 class="left-align"> Legenda:</h6>
        <div class="legend2">
            <div class="legend2 not-blind">
                <p class="black-text country-name"><span class="key-dot white"></span>Nó sem Avaliação
                </p>
            </div>
            <div class="legend2 not-blind">
                <p class="black-text country-name"><span class="key-dot node_green "></span>Nota 10
                </p>
            </div>
            <div class="legend2 not-blind">
                <p class="black-text country-name"><span class="key-dot node_yellow"></span>Nota 5
                </p>
            </div>
            <div class="legend2 not-blind">
                <p class="black-text country-name"><span class="key-dot node_red"></span>Nota 0
                </p>
            </div>
            <div class="legend2">
                <p class="black-text country-name"><span class="key-dot node_black"></span>Atividade Fim
                </p>
            </div>
            <div class="legend2 blind">
                <p class="black-text country-name"><span class="key-dot blind_node_green"></span>Daltônico:
                    Nota 10
                </p>
            </div>
            <div class="legend2 blind">
                <p class="black-text country-name"><span class="key-dot blind_node_yellow"></span>Daltônico:
                    Nota 5
                </p>
            </div>
            <div class="legend2 blind">
                <p class="black-text country-name"><span class="key-dot blind_node_red"></span>Daltônico:
                    Nota 0
                </p>
            </div>
            <div class="legend2">
                <p class="black-text country-name"><span class="key-dot node_roxo"></span>Atividade não avaliativa</p>
            </div>

            <div class="legend2">
                <p class="black-text country-name"><span class="key-dot node_blue"></span>Nó incial ou que não faz
                    parte do processo avaliativo</p>
            </div>
            <div class="legend2">
                <p class="black-text country-name"><span class="key-dot node_gray"></span>Caminho fora do
                    escopo do filtro
                </p>
            </div>
            <div class="legend2">
                <p class="black-text country-name"><span class="key-dot node_gray_black"></span>Caminho fora
                    do escopo de melhor ou pior caminho</p>
            </div>
        </div>
    </div>
<div class=" col s12 z-depth-2" id="container_visualization">

</div>

{% endblock content %} {%block footer %}
<script>
    $(document).ready(function () {
        $(".classe_id")[0].checked = true;
    });
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script> {% endblock footer %}