{% extends "base.html" %} {% block content %}
<div class="row" style="width: 400px">
    <div class="col s12 z-depth-5">
        <div class="container">
            <div class="center">
                <h1 class="card-title">Login</h1>
            </div>
            <div class="card-content">
                <form class="col s12" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate" name="username">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <label class="padding-sider">
                    <div class="row">
                        <div class="col m12">
                            <p class="center-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Login</button>
                            </p>
                        </div>
                    </div>
                    <label class="padding-sider">
                    <label class="padding-sider">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}